/* Grid */

.grid {
    display: grid;
}

.grid.justify-center {
    justify-content: center;
}

.grid.align-center {
    align-items: center;
}

/* Flex */

.flex {
    display: flex;
}

.flex.row {
    flex-direction: row;
}

.flex.column {
    flex-direction: column;
}

.flex.wrap {
    flex-wrap: wrap;
}

.flex.justify-center {
    justify-content: center;
}

.flex.align-center {
    align-items: center;
}

.flex.space-between {
    justify-content: space-between;
}