/* IMPORT ESSENTIALS */

@import './reset.css';
@import './helpers.css';
@import './fonts.css';

/* --------- END IMPORT ESSENTIALS --------- */

/* Import Apps */

@import './apps/email.css';

/* --------- End Import Apps --------- */


/* HTML App Defaults */

html,body {
    font-size: 16px;
    overflow: hidden;
}

h1, h2, h3, h4, h5, h6, button, a {
    text-transform: capitalize;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

button:hover {
    color: green;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:visited {
    color: none;
}