/* IMPORT ESSENTIALS */

@import './reset.css';
@import './helpers.css';
@import './fonts.css';

/* --------- END IMPORT ESSENTIALS --------- */

@import './homepage.css';

/* Import Apps */

@import './apps/email.css';
@import './apps/notes.css';

/* --------- End Import Apps --------- */


/* HTML App Defaults */
* {
    box-sizing: border-box;
}

html,body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, button, a {
    text-transform: capitalize;
}

button {
    cursor: pointer;
    border: none;
    background: none;
    outline: none;
}

button:hover {
    color: green;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    color: red;
}

a:visited {
    color: none;
}

/* GLOBAL CMPS */

.global-nav {
    position: relative;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
}

.global-nav .dropdown-menu {
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0 0 1px 1px black;
    z-index: 1;
    visibility: hidden;
    opacity: 0;
    transition: opacity .6s;
}

.global-nav .dropdown-menu.show {
    visibility: visible;
    opacity: 1;
}

/* --------- End GLOBAL CMPS --------- */