/* APP LAYOUT */

.email-app {
    grid-template-areas: 
    "header header"
    "nav content";
    grid-template-rows: 65px calc(100vh - 70px);
    grid-template-columns: 45px 2fr;
    row-gap: 5px;
    font-family: 'Roboto', sans-serif;
}

.email-header {
    grid-area: header;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    box-shadow: 0 0px 0px .5px #64798fab;
    z-index: 1;
}

/* EMAIL NAV BAR MAGIC */

.email-side-nav {
    grid-area: nav;
    height: 100%;
    position: relative;
}

.email-side-nav .btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 95%;
    /* border-right: .5px solid grey; */
    transition: .6s ease-in-out;
    box-shadow: 1px -1px 4px #64798fab;
}

.email-side-nav .btns-container button {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
}

.email-side-nav .btns-container .btn-compose {
    /* box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149); */
    margin: 30px 0;
    height: 70px;
    border-radius: 30px;
    transition: box-shadow .08s linear,min-width .15s cubic-bezier(0.4,0.0,0.2,1);
}

.email-side-nav .btns-container:hover .btn-compose:hover {
    box-shadow: 0px 0px 6px 1px #64798fab;
    background-color: #f5f7f7;
}

.email-side-nav .btn-compose i {
    font-size: 2em;
    
}
.email-side-nav .btns-container > *:not(:first-child) {
    margin-bottom: 10px;
}

.email-side-nav .btn-inbox, .btn-compose, .btn-sent, .btn-trash, .btn-drafts {
    position: relative;
    display: flex;
    opacity: 0.8s;
    align-items: center;
    width: 98%;
}

.email-side-nav .btn-inbox .unread-emails {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #fff;
    padding: 2px 5px;
    transform: translate(-65%, -100%);
    transition: .6s ease-in-out;
    background-color: rgb(207, 48, 48);
    border-radius: 50px;
    font-weight: bold;
    font-size: 0.8em;
}

.email-side-nav .btns-container:hover .btn-inbox .unread-emails {
    transform: translate(200%, -50%);
    background-color: transparent;
    color: #333;
}

.email-side-nav .btns-container:hover {
    position: absolute;
    width: 200px;
    background-color: white;
    z-index: 1;
}

.email-side-nav .btns-container > *:hover {
    color:inherit;
}

.email-side-nav .btns-container:hover > *:hover:not(.btn-inbox):not(.btn-compose) {
    background-color: #f5f7f7;
    width: 98%;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.email-side-nav .btns-container:hover .btn-compose::after {
    content: "Compose";
    padding-left: 20px;
    vertical-align: -5px;
}

.email-side-nav .btns-container:hover .btn-inbox {
    background-color: #fce8e6;
    color: #d93025;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.email-side-nav .btns-container:hover .btn-compose {
    box-shadow: 0 1px 2px 0 rgba(60,64,67,0.302), 0 1px 3px 1px rgba(60,64,67,0.149);
 
}

.email-side-nav .btns-container:hover .btn-inbox::after {
    content: "Inbox";
    color: #d93025;
    font-weight: bold;
    padding-left: 20px;
    opacity: 1;
    vertical-align: -10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

.email-side-nav .btns-container:hover .btn-sent::after {
    content: "Sent";
    padding-left: 20px;
    vertical-align: -10px;
}

.email-side-nav .btns-container:hover .btn-drafts::after {
    content: "Drafts";
    padding-left: 20px;
    vertical-align: 5px;
}

.email-side-nav .btns-container:hover .btn-trash::after {
    content: "Trash";
    padding-left: 20px;
    vertical-align: 5px;
}


/* CONTENT ROUTER VIEW */
.email-content {
    grid-area: content;
    overflow-y: scroll;
}

/* email list */

/* email preview */
.email-preview {
    cursor: pointer;
    padding: 15px 0;
    background-color: #f5f7f7;
    font-size: .9em;
}

.email-preview:not(:first-child) {
    box-shadow: 0 0px 0px .5px #64798fab;  
}

.email-preview.unread {
    background-color: #fff;
}

.email-preview:hover {
    box-shadow: 0px 1px 5px -1px black;
    position: relative;
    z-index: 1;
}

.email-preview > * {
    text-align: center;
}
/* .email-preview > *:not(.body) {
    width: 10%;
} */
.email-preview .subject {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    text-align: right;
    width: 20%;
    padding-right: 5px;
}
.email-preview .body {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 80%;
}
.body::before {
    content: '-';
}

.email-preview .date, .email-preview .sender {
    width: 80px;
}
.email-preview .checkbox-container {
    width: 50px;
}
.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    user-select: none;
}
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkmark {
    position: absolute;
    top: 0;
    left: 20px;
    height: 15px;
    width: 15px;
    box-shadow: 0px 0px 0 3px #d1d2d2;
    border-radius: 1px;
}
/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark {
    box-shadow: 0px 0px 0 3px #5a6576;
}
/* When the checkbox is checked, add a blue background */
.checkbox-container input:checked ~ .checkmark {
    box-sizing: border-box;
    box-shadow: 0px 0px 0 3px #5a6576;
    border-radius: 1px;
    background-color: #5a6576;
}
/* Create the indicator (the dot/circle - hidden when not checked) */
.checkbox-container:after {
    content: "";
    position: absolute;
    display: none;
}
/* Show the indicator (dot/circle) when checked */
.checkbox-container input:checked ~ .checkmark:after {
    font-family: "Font Awesome 5 Free";
    padding-top: 0px;
    font-weight: 900;
    content: "\f00c";
    display: block;
    font-size: 15px;
    color: white;
}
  

/* compose email */
.email-compose {
    position: absolute;
    bottom: 0;
    right: 100px;
    height: 400px;
    width: 500px;
    border: .5px solid black;
    z-index: 100;
    background-color: white;
}
.email-compose > form {
    flex-direction: column;
}

.email-compose > header {
    background-color: gray;
}

/* EMAIL DISPLAY */

.email-display {
    height: 100%;
}
.email-display > *:not(:first-child) {
    /* box-shadow: 0 0px 0px .5px #64798fab; */
}