/* APP LAYOUT */

.email-app {
    grid-template-areas: 
    "header header"
    "nav content";
    grid-template-rows: 65px 1fr;
    grid-template-columns: 5vw 1fr;
}

.email-header {
    grid-area: header;
    background-color: lightpink;
}

/* EMAIL NAV BAR MAGIC */

.email-side-nav {
    grid-area: nav;
    height: 100%;
    position: relative;
}

.email-side-nav .btns-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 5vw;
    transition: width .8s;
}

.email-side-nav .btns-container:hover {
    position: absolute;
    width: 20vw;
    background-color: white;
    z-index: 1;
}

.email-side-nav .btns-container:hover .btn-compose::after {
    content: "Compose";
    padding-left: 20px;
}

.email-side-nav .btns-container:hover .btn-inbox::after {
    content: "Inbox";
    padding-left: 20px;
}

.email-side-nav .btns-container:hover .btn-sent::after {
    content: "Sent";
    padding-left: 20px;
}


/* CONTENT ROUTER VIEW */
.email-content {
    grid-area: content;
    overflow-y: scroll;
    height: calc(100vh - 100px);
}

/* email list */

/* email preview */
.email-preview {
    cursor: pointer;
    padding: 10px 0;
    transition: .3s;
    background-color: #f0f0f0;
}
.email-preview:hover  {
    box-shadow: inset 0px 0px 0px 0px #dadce0, 0px 1px 2px 0px rgba(60,64,67,.3), 0px 1px 3px 1px rgba(60,64,67,.15);
}
.email-preview:hover + .email-preview {
    /* box-shadow: 0px 2px 0px 0px #dadce0; */
    box-shadow: 0 4px 4px -2px #000000;
}
.email-preview > * {
    text-align: center;
}
.email-preview > *:not(.body) {
    width: 10%;
}
.email-preview .subject {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
    text-align: right;
    width: 20%;
    padding-right: 5px;
}
.email-preview .body {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: left;
    width: 60%;
}
.body::before {
    content: '-';
}

/* compose email */
.email-compose {
    position: absolute;
    bottom: 0;
    left: 100px;
    height: 400px;
    width: 500px;
    background-color: white;
}
.email-compose > form {
    flex-direction: column;
}

.email-compose > header {
    background-color: gray;
}

/* EMAIL DISPLAY */
.email-display > *:not(:last-child) {
    box-shadow: -1px 1px 0px 0px rgba(70, 70, 70, 0.5);
}