.email-app {
    grid-template-areas: 
    "header header"
    "nav content";
}

.email-header {
    grid-area: header;
    background-color: lightpink;
}

.email-side-nav {
    grid-area: nav;
    background-color: lightgreen;
}

.email-content {
    grid-area: content;
    background-color: lightblue;
}