.notes-app {
    grid-template-areas: 
    "header"
    "create"
    "notes";
    grid-auto-rows: max-content;
}

.notes-header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    padding: 0 20px;
    background-color: #badc58;
}

.note-create {
    grid-area: create;
    justify-self: center;
    text-align: center;
    display: flex;
    align-items: center;
    padding: 20px;
}

.notes-container {
    grid-area: notes;
}

.note-create input {
    margin-right: 20px;
    width: 200px;
    padding: 5px;
    outline: none;
    border: 1px solid #333;
    background-color: #333;
    color: #fff;
    transition: .6s;
}

.note-create input:focus {
    background-color: #fff;
    color: #333;
}

.note-create button {
    font-size: 1.125em;
    color: #333;
}

.note-create button:hover {
    color: #686de0;
}



/* palette */

.btn-note-container {
    position: relative;
}

.color-palette {
    position: absolute;
    background-color: #576574;
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px #333;
}


.palette-btns .btn-color {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: 0 0 1px 1px black;
    margin-right: 3px;
}
.palette-btns .btn-color.selected {
    box-shadow: 0 0 1px 1px #fff;
}

.palette-btns .btn-color.selected:hover {
    box-shadow: 0 0 1px 1px #e3e3e3;
}

.palette-btns .btn-color:hover {
    box-shadow: 0 0 1px 1px #576574;
}

/* TYPE TODO NOTE */

.note-item .type-todo .todo-item.marked {
    text-decoration: line-through;
}